node.exe : npm warn Unknown 
env config "msvs-version". 
This will stop working in the 
next major version of npm.
At line:1 char:1
+ & "C:\Program 
Files\nodejs/node.exe" "C:\User
s\ashse\AppData\Roaming\ ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~
    + CategoryInfo          :  
   NotSpecified: (npm warn Un  
  know...version of npm.:Str   
 ing) [], RemoteException
    + FullyQualifiedErrorId :  
   NativeCommandError
 
npm warn Unknown env config 
"python". This will stop 
working in the next major 
version of npm.
-- DropForeignKey
ALTER TABLE "public"."invoice_templates" DROP CONSTRAINT "invoice_templates_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_templates" DROP CONSTRAINT "invoice_templates_created_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_templates" DROP CONSTRAINT "invoice_templates_updated_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_schedules" DROP CONSTRAINT "invoice_schedules_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_schedules" DROP CONSTRAINT "invoice_schedules_account_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_schedules" DROP CONSTRAINT "invoice_schedules_created_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_schedules" DROP CONSTRAINT "invoice_schedules_updated_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_reminder_history" DROP CONSTRAINT "invoice_reminder_history_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_reminder_history" DROP CONSTRAINT "invoice_reminder_history_invoice_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."invoice_reminder_history" DROP CONSTRAINT "invoice_reminder_history_created_by_fkey";

-- DropTable
DROP TABLE "public"."invoice_templates";

-- DropTable
DROP TABLE "public"."invoice_schedules";

-- DropTable
DROP TABLE "public"."invoice_reminder_history";

