.JobsCalendar_div1 {
  width: auto;
  height: auto;
  box-shadow: 0 0 30px -6px #090909;
  border-radius: 5px;
  border: 1px solid #736f6f;
}
.JobsCalendar_div2 {
  width: 350px;
  height: 350px;
  overflow: visible;
  align-content: center;
  position: static;
  font-size: 12px;
  color: #000000;
  text-shadow: 0.71px 0.71px 2px rgba(107, 107, 107, 0.42);
  border-radius: 5px;
  object-fit: fill;
  flex-wrap: wrap;
  display: inline-block;
  grid-auto-flow: row;
}
