/* Inline styles moved to CSS */

.inline-style-561655271 {
  background-color: #0d1c24;
  
}

.inline-style-205141665 {
  scroll-margin-top: 80px;
  
}

.inline-style-185562285 {
  background-color: #0d1c24;
  
}

.inline-style-211606312 {
  scroll-margin-top: 10px;
  
}

.inline-style-419207081 {
  height: 400px;
   object-fit: cover;
   background-color: #1e293b;
  
}

.inline-style-1623838181 {
  width: 75%
}

.inline-style-1623839297 {
  width: 60%
}

.inline-style-1623836228 {
  width: 96%
}

.inline-style-1623837220 {
  width: 85%
}

.inline-style-851906358 {
  height: 40px;
  
}

.inline-style-1162547328 {
  max-width: 600px;
  
}

.inline-style-1638686994 {
  position: absolute;
   left: -9999px;
   opacity: 0;
   pointer-events: none;
  
}

